.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.enabled {
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.disabled {
    color: black;
    opacity: 0.7;
    cursor: not-allowed;
}
