.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    & * {
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}
