.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;

    @media (max-width: 645px) {
        width: calc(100vw - 30px);
        margin-top: 15px;
    }
}

.pagination {
    padding-bottom: 15px;
}

.filter_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 20px;
}

.header {
    color: rgb(243, 144, 165);
    font-size: 46px;
    text-align: center;
}

.loader_container {
    margin: 0 auto;
}

.content {
    padding: 40px 0;
    background-color: white;

    &_items {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
}
