.content_items__inner {
    margin-top: 15px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.header_none {
    color: rgb(230, 53, 91);
    font-size: 40px;
    text-align: center;
}
